body {
    /*background-image: url("summer_background_gradient.jpg");*/
    /*background-image: url("yellow_background.jpg");*/
    background-color: whitesmoke;
    /*background-size: cover;
    background-position: center center;
    background-attachment: fixed; */
    margin: 0;      
}
.banner {
    background-image: url("w_s_w_c_c_l_1.png");
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center 80px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 30px;
}
h1 {
    text-align: center; 
    font-family: Tahoma, sans-serif; 
    color: gold; 
    font-size: 80px; 
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
    margin: 0%;
    outline: 1px;
}
h2 {
    text-align: center; 
    font-family: Tahoma, sans-serif; 
    color: black; 
    font-size: 50px; 
    margin: 0%;
}
h3 {
    text-align: center; 
    font-family: Tahoma, sans-serif; 
    color: black; 
    font-size: 50px; 
    margin: 0%;
}
ul  {
    list-style-type: none;
    margin: 0;
    border: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    font-family: Tahoma, sans-serif;
    background-color: black;
}
li {
    float: left;
    border-right: 1px solid #bbb;
    /*margin-left: 20px;*/
}
li:last-child {
    border-right: none;
}
li a {
    display: block;
    color: white;
    /*color: lightgray;*/
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
li a:hover:not(.active) {
    color: black;
    background-color: greenyellow;
}
.active {
    /*color: white;*/
    background-color: blue;
}
.page {
    width: 900px;
    margin: auto;
}
.page_alt {
    height: 650px;
    width: 100%;
    background-color: white;
    overflow: auto;
}
.page_login {
    height: 550px;
    width: 100%;
    background-color: white;
    overflow: auto;
}
.indiv {
    margin: auto;
    padding-top: 60px;
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 5px ghostwhite;                
}
.indiv_2 {
    margin: auto;
    padding-top: 0%;
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 5px ghostwhite;                
}
.statement {
    margin: auto;
    padding-top: 60px;
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-size: 35px;
    text-shadow: 2px 2px 5px ghostwhite;                
}
.content {
    float: left;
    height: 650px;
    width: 500px;
    background-color: white;
}
.col {
    float: left;
    width: 50%;
    margin-top: 20px;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.horizontal-bar {
    margin-top: 0px;
    height: 10px;
    width: 100%;
    background-color: black;
}
.button {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    font-family: Tahoma, sans-serif;
    display: inline-block;
    margin: 4px 2px;
    margin-left: 40%;
    cursor: pointer;
    width: 400px;
    height: 70px;
}
.button1 {
    border-radius: 15px;
}
.button2 {
    background-color: aliceblue;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}